<ion-tabs>

  <ion-tab-bar slot="bottom" id="main-tab-bar">
    <ion-tab-button tab="prayer-time" href="/tabs/prayer-time">
      <ion-icon aria-hidden="true" src='assets/icon/prayer-time.svg'></ion-icon>
      <ion-label>Namaz Vakitlerim</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mosque" href="/tabs/mosque">
      <ion-icon aria-hidden="true" src='assets/icon/mosque.svg'></ion-icon>
      <ion-label>Camii</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="daily-board" href="/tabs/daily-board">
      <ion-icon aria-hidden="true" name="clipboard"></ion-icon>
      <ion-label>Pano</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
