<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cihazlarım</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleSearchbar()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <!-- Arama Çubuğu -->
  <ion-toolbar *ngIf="showSearchbar">
    <ion-searchbar
      [(ngModel)]="queryText"
      (ionInput)="filterDevices()"
      placeholder="Cihaz Ara"
      showCancelButton="always"
      (ionCancel)="toggleSearchbar()"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-list>
    <!-- Cihazları tarihe göre gruplayarak listelemek -->
    <ion-item-group *ngFor="let group of deviceGroups">
      <ion-item-divider sticky>
        <ion-label>{{ group.date }}</ion-label>
      </ion-item-divider>

      <!-- Her cihaz için sliding liste kullanımı -->
      <ion-item-sliding *ngFor="let device of group.devices">
        <ion-item>
          <ion-grid>
            <!-- İlk Satır: Üretici + Model ve eşleşme kontrolü -->
            <ion-row>
              <ion-col size="8">
                <h3>{{ device.manufacturer }} {{ device.model }}</h3>
              </ion-col>
              <ion-col size="4" class="ion-text-right" *ngIf="device.uniqueId === currentDeviceUniqueId">
                <span class="highlight">Bu Cihaz</span>
              </ion-col>
            </ion-row>
            <!-- İkinci Satır: Son Erişim saati ve Durumu -->
            <ion-row>
              <ion-col size="8">
                <p>Son Erişim: {{ device.lastAccessTime }}</p>
              </ion-col>
              <ion-col size="4" class="ion-text-right">
                <p>Durumu: {{ device.status }}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <!-- Silme seçeneği -->
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="confirmDelete(device)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-item-group>
  </ion-list>
</ion-content>
