<!-- <ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app> -->
<ion-app>
  <ion-split-pane contentId="main-content">
    <!-- Yan Menü -->
    <ion-menu contentId="main-content" type="overlay">

      <ion-content>


        <ion-list-header>
          İşlemelerim
        </ion-list-header>
       

        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="p.url" routerLinkActive="selected" detail="false">
              <ng-container [ngSwitch]="p.type">
                <!-- Ionic İkonları için -->
                <ion-icon *ngSwitchCase="'ionic'" slot="start" [name]="p.icon + '-outline'"></ion-icon>
                <!-- SVG İkonları için -->
                <img *ngSwitchCase="'svg'" [src]="p.icon" slot="start" class="menu-icon" />
                <!-- Varsayılan (Diğer) -->
                <ion-icon *ngSwitchDefault slot="start" [name]="p.icon"></ion-icon>
              </ng-container>
              <ion-label>
                {{ p.title }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list *ngIf="loggedIn" lines="none">
          <ion-list-header>
            Hesabım
          </ion-list-header>

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/tabs/account" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="person"></ion-icon>
              <ion-label>
                Hesabım
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <!-- <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/support" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="help"></ion-icon>
              <ion-label>
                Support
              </ion-label>
            </ion-item>
          </ion-menu-toggle> -->

          <ion-menu-toggle autoHide="false">
            <ion-item button (click)="logout()" detail="false">
              <ion-icon slot="start" name="log-out"></ion-icon>
              <ion-label>
                Çıkış Yap
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>

        <ion-list *ngIf="!loggedIn" lines="none">
          <ion-list-header>
            Hesabım
          </ion-list-header>

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/login" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="log-in"></ion-icon>
              <ion-label>
                Giriş Yap
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <!-- <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/support" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="help"></ion-icon>
              <ion-label>
                Support
              </ion-label>
            </ion-item>
          </ion-menu-toggle> -->

          <!-- <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/signup" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="person-add"></ion-icon>
              <ion-label>
                Signup
              </ion-label>
            </ion-item>
          </ion-menu-toggle> -->

          <!-- <ion-item>
            <ion-icon slot="start" name="moon-outline"></ion-icon>
            <ion-toggle [(ngModel)]="dark">
              Dark Mode
            </ion-toggle>
          </ion-item> -->
        </ion-list>
        

        <!-- <ion-list lines="none">
          <ion-list-header>
            Tutorial
          </ion-list-header>
          <ion-menu-toggle autoHide="false">
            <ion-item button (click)="openTutorial()" detail="false">
              <ion-icon slot="start" name="hammer"></ion-icon>
              <ion-label>Show Tutorial</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list> -->

          
      </ion-content>
  <!-- Yeni 16-01-26 / 10:05 - En Alta Sabitlenmiş Versiyon Alanı (Tıklanabilir) -->
      <ion-footer class="ion-no-border">
        <div class="app-version-container" (click)="onVersionClick()">
          <p>
            Sürüm: v{{ appVersion }} 
            <!-- Geliştirici modundaysa belli et -->
            <span *ngIf="currentChannel === 'DEV'" style="color:red; font-weight:bold; margin-left:5px;">(DEV)</span>
          </p>
        </div>
      </ion-footer>
    </ion-menu>
      <ion-router-outlet id="main-content"></ion-router-outlet>

   
  </ion-split-pane>
</ion-app>
