.login-logo {
    min-height: 200px;
  
    padding: 20px 0;
  
    text-align: center;
  }
  
  .login-logo img {
    max-width: 150px;


    /* Tam yuvarlak olması için genişlik ve yükseklik eşit olmalı */
  width: 150px; 
  height: 150px;
  
    /* Yuvarlatma kodu */
  border-radius: 50%; 

  /* Eğer yüklediğin logo tam kare değilse, resmin bozulup basık görünmesini engeller, ortalar */
  object-fit: cover;
  }
  
  .login-form {
    padding: 16px;
  }
  
  ion-input {
    margin-bottom: 10px;
  }
  