<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title *ngIf="mosqueDetails.length > 0">{{ mosqueDetails[0].mosqueName }}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="refresh()">
          <ion-icon slot="icon-only" name="refresh-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


  
  <!-- 2. Resim alanı -->

  <div class="mosque-header">
    <swiper-container
      #swiperContainer 
      class="mySwiper"
      [init]="mosqueImages.length > 0" [slidesPerView]="1"
      [spaceBetween]="0"
      [centeredSlides]="true"
      [loop]="swiperParams.loop"
      [pagination]="swiperParams.pagination"
      [autoplay]="swiperParams.autoplay"
      (slidechange)="onSlideChange()" >
      <swiper-slide *ngFor="let img of mosqueImages">
        <img [src]="getImageUrl(img.imagePath)" alt="Mosque Image" class="slide-image"/>
      </swiper-slide>

   

    </swiper-container>

        <div *ngIf="mosqueImages.length === 0 && initialDataLoaded && mosqueId" class="placeholder-header-content">
      <p class="ion-text-center">Bu cami için henüz resim eklenmemiş.</p>
    </div>

        <div *ngIf="!initialDataLoaded && mosqueId" class="placeholder-header-content">
        <ion-spinner name="crescent"></ion-spinner>
        <p class="ion-text-center ion-margin-top">Resimler yükleniyor...</p>
    </div>
   
  </div>



    <!-- 3. Cami bilgileri -->
   <div class="mosque-info" *ngIf="mosqueDetails.length > 0">
    <h3 class="ion-padding-top ion-padding-start">
      {{ mosqueDetails[0].mosqueName }} - {{ mosqueDetails[0].companyName }}
    </h3>

    <!-- burda ion-panding-start ikonalrın diğelerine göredaha solda başlamsına needen oluyor -->
    <!-- <ion-list class="info-list" [ngClass]="{'ion-padding-start': true, 'ion-padding-end': true}" lines="none">  -->
    <ion-list class="info-list" lines="none"> 
      
      <ion-item *ngIf="mosqueDetails[0].description">
        <ion-icon slot="start" name="information-circle-outline" color="primary"></ion-icon>
        <ion-label class="ion-text-wrap">
          {{ mosqueDetails[0].description || 'Cami hakkında bilgi bulunmamaktadır.'}}
        </ion-label>
      </ion-item>

      <ion-item *ngIf="mosqueDetails[0].shift">
        <ion-icon name="time-outline" slot="start"color="primary"></ion-icon>
        <ion-label class="ion-text-wrap">
          {{ mosqueDetails[0].shift || 'Çalışma saati bilgisi bulunmamaktadır.'}}
        </ion-label>
      </ion-item>
      
      <ion-item class="clickable-address" (click)="openMaps()">
        <ion-icon slot="start" name="navigate-outline" color="primary"></ion-icon>
        <ion-label>
          Cami adresine ulaşmak için dokunun.
        </ion-label>
          <ion-icon slot="end" name="chevron-forward-outline" color="medium"></ion-icon>

      </ion-item>
    </ion-list>

    <h3 class="ion-padding-top ion-padding-start">Cami Görevlileri ve İletişim</h3>
    <ion-list lines="none" *ngIf="mosqueDetails.length > 0">
      <ion-item>
        <ion-icon name="person-circle-outline" slot="start" aria-hidden="true"></ion-icon>
        <ion-select 
          label="Görevli" 
          labelPlacement="stacked" 
          interface="popover" 
          placeholder="Görevli Seçiniz"
          [(ngModel)]="selectedStaffMember" 
          (ionChange)="handleStaffSelectionChange($event)"
          [compareWith]="compareStaffMembers">
          <ion-select-option *ngFor="let staff of mosqueDetails" [value]="staff">
            {{ staff.firstName }} {{ staff.lastName }}
          </ion-select-option>
        </ion-select>
      </ion-item>

 <ion-item *ngIf="selectedStaffMember" (click)="callPhoneNumber()" button detail="false">
    <ion-icon name="call-outline" slot="start" aria-hidden="true" color="primary"></ion-icon>
    <ion-label>
        <h2>Telefon Numarası</h2>
        <p>{{ selectedStaffMember.contact.trim() }}</p>
    </ion-label>
      <ion-icon slot="end" name="chevron-forward-outline" color="medium"></ion-icon>

</ion-item>
      <ion-item *ngIf="!selectedStaffMember && mosqueDetails.length > 0">
        <ion-label class="ion-text-center">
          <p>Lütfen bir görevli seçiniz.</p>
        </ion-label>
        
      </ion-item>
    </ion-list>

    <div *ngIf="mosqueDetails.length === 0 && initialDataLoaded" class="ion-padding ion-text-center">
        <p>Bu cami için henüz görevli bilgisi eklenmemiş.</p>
    </div>

  </div>

     <!-- 1. Sayfa ortası spinner -->
  <div class="loading-container" *ngIf="!initialDataLoaded">
    <ion-spinner name="crescent"></ion-spinner>
    <p class="ion-margin-top">Cami bilgileri yükleniyor...</p>
  </div>



  <!-- 4. Cami detayları bulunamadı -->

  <div class="mosque-info ion-padding" *ngIf="initialDataLoaded && mosqueDetails.length === 0 && mosqueId">
      <p class="ion-text-center">Cami detayları bulunamadı (ID: {{mosqueId}}).</p>
  </div>
</ion-content>